Repository a-anand-91119/spring-boot-asynchronous-http: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spotless-formatting-check, compile-and-build-jar, docker-image-build, argocd-deployment

Path conditions:
  spotless-formatting-check: any of: src/**/*.java, **/*.gradle*, gradle.properties
  compile-and-build-jar: any of: src/**/*, build.gradle.kts, gradle.properties, libs.versions.toml, Dockerfile
  docker-image-build: any of: src/**/*, build.gradle.kts, gradle.properties, libs.versions.toml, Dockerfile
  argocd-deployment: any of: src/**/*, build.gradle.kts, gradle.properties, libs.versions.toml, Dockerfile, deployment/**/*

Build optimizations
  deployment/values.yaml
Due: argocd-deployment

Build optimizations
  .gitlab/ci/build.gitlab-ci.yml
Due: none

Adding prometheus
  build.gradle.kts
  libs.versions.toml
  src/main/resources/application.yml
Due: spotless-formatting-check, compile-and-build-jar, docker-image-build, argocd-deployment

Adding prometheus
  Dockerfile
Due: compile-and-build-jar, docker-image-build, argocd-deployment

Getting linkerd back
  deployment/values.yaml
Due: argocd-deployment

Enabling prometheus service monitor
  deployment/values.yaml
Due: argocd-deployment

Trigger dummy deployment
  deployment/values.yaml
Due: argocd-deployment

Updating sad paths
  performance-tests/k6.yml
  performance-tests/load-test.js
  src/main/java/dev/notyouraverage/project/one/http/asynchronous_http_server/helpers/impl/BlockRequestHelperImpl.java
Due: spotless-formatting-check, compile-and-build-jar, docker-image-build, argocd-deployment

Trigger deploymet again
  performance-tests/k6.yml
Due: none

updating service monitor namespace
  deployment/values.yaml
Due: argocd-deployment

Restricting CIs to self hosted gitlab
  .gitlab-ci.yml
Due: none

Restricting CIs to self hosted gitlab
  deployment/values.yaml
  performance-tests/k6.yml
Due: argocd-deployment

Setting proper release name
  .gitlab/ci/build.gitlab-ci.yml
Due: none

Adding app name as metrics tag
  src/main/resources/application.yml
Due: compile-and-build-jar, docker-image-build, argocd-deployment

Updating URL
  .dockerignore
Due: none
